{% extends 'base.html' %}
{% load static %}

{% block title %}
Details
{% endblock %}

{% block content %}
 <!-- Main Section -->
    <div class="container">
      <h2 class="heading font-weight-light text-center">{{ contacts.name }}</h2>
      <hr />
    </div>
    <div class="container main-part">
      <!-- Card for details -->
      <div class="card my-2 boy-card w-25 mx-auto">
        <img src="{{ contacts.image.url }}" class="img-fluid" />
        <div class="card-header">
          <a href="#" class="text-white header-link"
            ><i class="fas fa-mars mr-2"></i>{{ contacts.name }}</a
          >
        </div>
        <div class="card-body pb-0">
          <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
          </p>
          <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a>
          </p>
          <p><i class="fas fa-info-circle mr-2"></i> {{ contacts.info }}</p>
        </div>
      </div>

       </div>
      <br>     
      <center> <a href="{% url 'update' contacts.id %}">Update</a>|| <a href="{% url 'delete' contacts.id %}">Delete</a> </center>
   
    <!-- Main Section ends-->

   {% endblock %}