{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}


{% block content %}
    <!-- Heading section -->
    <div class="container">
      <h3 class="heading font-weight-light">Here are your contacts</h3>
      <hr />
    </div>
    <div class="container main-part">   
     <!-- checking if contact is present or not -->
    {% if contacts %}
    <!-- if contact is present the we choose all data -->
    {% for contact in contacts %}
     
     <!--  card partial -->
     {% include 'partials/_card.html' %}
    {% endfor %}
    {% endif %}
     </div>

   {% endblock %}